<!doctype html>
<head>
	<meta charset="utf-8" />
	<title>RSS</title>
	<link rel="stylesheet" type="text/css" href="/css/content.css">
	<link rel="stylesheet" type="text/css" href="/css/my.css">
</head>
<body>
<div id="wrapper">
	<div id="form">
		<?php 
			$form->render();
		?>
	</div>
	<div id="aggregator">
		<a href="aggregator.php">Update RSS</a>
	</div>
	<div id="table">
		<table id="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($rssArray as $rss) { ?>
				<tr>
					<td>
						<h3><?php echo $rss['rss_title'];?></h3><br>
						<?php echo $rss['rss_publication_date'];?>
					</td>
					<td>
						<p>
							<img src="<?php echo $rss['rss_jpeg_url'];?>" align=middle>
							<?php echo $rss['rss_description'];?>
							<a href="<?php echo $rss['rss_link'];?>">Look more</a> 
						</p>
					</td>
				</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>