#wrapper {
	width: 100%;
	height: 100%;
}

#table {
	float: left;
	width: 100%;
	height: 90%;
	background-color: white;
}

#form {
	float: left;
	width: 95%;
	height: 10%;
	background-color: white;
}

#aggregator {
	float: left;
	width: 5%;
	height: 10%;
	background-color: white;
}

thead {
	background-color: #FFBBBB;
}

tfoot {
	background-color: #BBBBFF;
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

body,img,p,h1,h2,h3,h4,h5,h6,form,table,td,ul,ol,li,dl,dt,dd,pre,blockquote,fieldset,label{
	margin:0;
	padding:0;
	border:0;
}
body{ background-color: white; border-top: solid 10px #7b94b2; font: 90% Arial, Helvetica, sans-serif; padding: 20px; }
h1,h2,h3{ margin: 10px 0; }
h1{}
h2{ color: #f66; }
h3{ color: #6b84a2; }
p{ margin: 10px 0; }
a{ color: #7b94b2; }
ul,ol{ margin: 10px 0 10px 40px; }
li{ margin: 4px 0; }
dl.defs{ margin: 10px 0 10px 40px; }
dl.defs dt{ font-weight: bold; line-height: 20px; margin: 10px 0 0 0; }
dl.defs dd{ margin: -20px 0 10px 160px; padding-bottom: 10px; border-bottom: solid 1px #eee;}
pre{ font-size: 12px; line-height: 16px; padding: 5px 5px 5px 10px; margin: 10px 0; background-color: #e4f4d4; border-left: solid 5px #9EC45F; overflow: auto; }
.wrapper{ background-color: white; width: 800px; border: solid 1px #eeeeee; padding: 20px; margin: 0 auto; }
#tabs{ margin: 20px -20px; border: none; }
#tabs, #ui-datepicker-div, .ui-datepicker{ font-size: 85%; }
.clear{ clear: both; }
	
.example-container{ background-color: white; border-bottom: solid 2px #777777; margin: 0 0 20px 40px; padding: 20px; }
.example-container input{ border: solid 1px #aaa; padding: 4px; width: 175px; }